
</div>
<!-- <div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Lakshay Maini</p>
  </div>
</div> -->
<!-- <footer class="footer mt-auto py-3 bg-light"> -->
  <!-- <div class="container"> -->
    <!-- <span class="text-muted">Made with ❤️ by Lakshay Maini</span> -->
  </div>
</footer>
</body>
</html>
