<%- include("partials/header") %>

<h1>Contact</h1>
<br /><br />
<p><%= contactContent %></p>
<br />
<p><%= contactLastLine %></p>
<br /><br /><br />
<p>Made with ❤️ by Lakshay Maini</p>

<%- include("partials/footer") %>
